@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --body-color: hsl(145, 44%, 92%);
    --text-color: hsl(252, 30%, 10%);
    --primary-color: hsl(146, 56%, 43%);
    --primary-color-light: hsl(150, 100%, 98%);
    --sidebar-color: hsl(138, 57%, 82%);
    --sidebar-hover : hsl(146, 33%, 53%);
    --toggle-color: hsl(0, 0%, 87%);

    --ff-primary: 'Poppins', sans-serif;
    /* --ff-primary: 'Zen Kurenaido', sans-serif; */

    --border-radius: .8rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem .8rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;

    --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem;


    /* ====== Transitions ====== */
    --trans-02: all 0.2s ease;
    --trans-03: all 0.3s ease;
    --trans-04: all 0.4s ease;
    --trans-05: all 0.5s ease;

}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
  }
  
  body {
  font-family: var(--ff-primary);
  background-color: var(--body-color);
  transition: var(--trans-05);
}

::selection{
  background-color: var(--primary-color);
  color: #fff;
}

.App.dark{
  --body-color: #090909;
  --text-color: #ffffff;
  --primary-color: hsl(146, 94%, 26%);
  --primary-color-light: hsl(146, 31%, 40%);
  --sidebar-color: #000000;
  --sidebar-hover : hsl(146, 31%, 40%);
  --toggle-color: #000000;
}

img {
  aspect-ratio: 1 / 1;
}

.hidden {
  visibility: hidden;
}

/* ====== APP ====== */
.App-container {
  width: 100%;
  height: 100%;
}

/* ====== Sidebar ====== */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: var(--sidebar-color);
  transition: var(--trans-05);
  z-index: 100;
}

.sidebar.close {
  width: 88px;
}

.sidebar li {
  height: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
}

.sidebar .icon {
  color: #fff;
  min-width: 60px;
  border-radius: 6px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
  color: var(--text-color);
  transition: var(--trans-03);
}

.sidebar .text {
  font-size: 17px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 1;
}

.sidebar.close .text {
  opacity: 0;
}

/* ======================= */

.sidebar header{
  position: relative;
}

.sidebar header .image-text{
  display: flex;
  align-items: center;
}
.sidebar header .logo-text{
  display: flex;
  flex-direction: column;
}

.App.dark .sidebar header .logo-text {
  color: var(--primary-color);
}

header .image-text .name {
  margin-top: 2px;
  font-size: 18px;
  font-weight: 600;
}

header .image-text .phrase{
  font-size: 16px;
  margin-top: -2px;
  display: block;
}

.sidebar header .image{
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar header .image img{
  width: 40px;
  border-radius: 6px;
}

.sidebar header .toggle{
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  background-color: var(--primary-color);
  color: var(--sidebar-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  transition: var(--tran-05);
}

.App.dark .sidebar header .toggle{
  color: var(--text-color);
}

.sidebar.close .toggle{
  transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
  margin-top: 40px;
}

.sidebar li.search-box,
main li.search-box{
  border-radius: 6px;
  background-color: var(--primary-color-light);
  cursor: pointer;
  transition: var(--tran-05);
}

.sidebar li.search-box input.searchbar {
  font-family: var(--ff-primary);
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background-color: var(--primary-color-light);
  color: var(--text-color);
  border-radius: 6px;
  font-size: 17px;
  font-weight: 500;
  transition: var(--tran-05);
}

.sidebar li.search-box input.searchbar::placeholder {
  color: var(--text-color);
}

.sidebar li a{
  list-style: none;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: var(--tran-03);
}

.App.dark .sidebar li a {
  color: var(--primary-color);
}

.sidebar li a:hover{
  background-color: var(--sidebar-hover);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
  color: var(--primary-color-light);
}
.App.dark .sidebar li a:hover .icon,
.App.dark .sidebar li a:hover .text{
  color: var(--toggle-color);
  
}
.sidebar .menu-bar{
  height: calc(100% - 55px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
  display: none;
}
.sidebar .menu-bar .mode{
  border-radius: 6px;
  background-color: var(--primary-color-light);
  position: relative;
  transition: var(--tran-05);
}

.menu-bar .mode .sun-moon{
  height: 50px;
  width: 60px;
}

.mode .sun-moon i{
  position: absolute;
}
.mode .sun-moon i.sun{
  opacity: 0;
}
.App.dark .mode .sun-moon i.sun{
  opacity: 1;
}
.App.dark .mode .sun-moon i.moon{
  opacity: 0;
}

.menu-bar .bottom-content .toggle-switch{
  position: absolute;
  right: 0;
  height: 100%;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
}
.toggle-switch .switch{
  position: relative;
  height: 22px;
  width: 40px;
  border-radius: 25px;
  background-color: var(--toggle-color);
  transition: var(--tran-05);
}

.switch::before{
  content: '';
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: var(--primary-color);
  transition: var(--tran-04);
}

.App.dark .switch::before{
  left: 20px;
}

/* ====== HOME ====== */
.home{
  position: absolute;
  top: 0;
  top: 0;
  left: 250px;
  width: calc(100% - 250px);
  background-color: var(--body-color);
  transition: var(--tran-05);
}
.home .home-nav{
  color: var(--primary-color);
  text-shadow: 1px 1px 2px var(--text-color);
  background-color: var(--body-color);
  text-align: center;
  align-items: center;
  font-size: 30px;
  max-height: 5rem;
  font-weight: 500;
  padding: 12px 60px;
}

.sidebar.close ~ .home{
  left: 78px;
  width: calc(100% - 78px);
}
.App.dark .home-nav{
  color: var(--primary-color);
}

/* ============== MAIN ============== */
main .container {
  color: var(--text-color);
  background-color: #fff;
  position: relative;
  text-align: center;
  display: grid;
  grid-template-columns: auto;
  column-gap: 1rem;
  padding: 10px 10px;
  min-height: 100%;
}

main .container > div {
  padding: 30px 30px;
}

.App.dark main .container {
  background-color: #121212;
}

main li.search-bar input.searchbar {
  font-family: var(--ff-primary);
  width: 50vw;
  outline: none;
  border: none;
  background-color: var(--sidebar-color);
  border-radius: 6px;
  font-size: 17px;
  font-weight: 500;
  padding: 10px 15px;
  transition: var(--tran-02);
}

.App.dark main li.search-bar input.searchbar {
  background-color: var(--primary-color-light);
}

main li.search-bar input.searchbar::placeholder {
  color: var(--text-color);
}

main li.search-bar .icon {
  margin-right: 10px;
}

.menu-links {
  padding-left: 0;
}

li.nav-link {
  padding: 0 0 0 0;
}

@media screen and (min-width: 500px) and (max-width: 768px) {
  main li.search-bar input.searchbar {
    width: 20vw;
  }
}

.display {
  max-width: 40%;
  margin: auto;
}

.home {
  min-height: 100%;
}

.border {
  border: #2ebd59 1px solid;
  border-radius: 15px;
}